html {
    color: rgb(12, 79, 3);
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: black;
}

#cmd-input {
  background: transparent;
  border: none;
  outline: none;
  color: rgb(12, 79, 3);
  caret-color: rgb(12, 79, 3);
  font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}

a {
    color: rgb(12, 79, 3);
    font-family: 'Courier New', Courier, monospace;
}

.file-downloader {
    text-decoration: none;
}

